BUILD_ONE_PORTAL_BASE_URL=https://adactinhotelapp.com/
BUILD_TWO_PORTAL_BASE_URL=https://adactinhotelapp.com/HotelAppBuild2/
PORTAL_GENERAL_USERNAME=portal.username
PORTAL_GENERAL_PASSWORD=portal.password